<body>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-brand">
            <div class="logo">
              <img src="assets/images/suc.jpeg" class="styled-image"  alt="Logo">
            </div>
            <h1 class="company-title">SECURISAT</h1>
          </div>
          <div class="navbar-menu">
            <!--
              <a href="#" class="active"><i class="fas fa-home"></i> Accueil</a>
              <a href="#"><i class="fas fa-tags"></i> Promotions</a>

              <span class="cart-count">0</span>
            -->
          
            <a href="/panier">🛒 Panier </a>
            <a href="/account/signup"><i class="bi bi-person"></i> Compte</a>
          </div>
    </nav>
  
    <!-- Contenu principal -->
    <div class="container">
      <header>
        <h2>Catalogue de Produits</h2>
        <!--
         <div class="search-bar">
          <input type="text" placeholder="Rechercher un produit..." id="search-input" disabled>
          <button disabled><i class="fas fa-search"></i></button>
        </div>
        -->
       
      </header>
  
      <!-- Filtrage par catégorie -->
      <div class="category-filter">
        <h3>Catégories</h3>
        <div class="category-buttons" >
          <button class="category-btn active">Tous les produits</button>
          <!--
            <button class="category-btn" *ngFor="let categorie of categorieList">{{categorie.nom}}</button>
          -->
        
       
        </div>
      </div>
  
      <!-- Grille des produits -->
      <div class="products-grid" >
        <div class="product-card" *ngFor="let product of produitList ">
          <div class="product-image">
            <img [src]="product.image" alt="Produit 1" width="60" height="50">
          </div>
          <div class="product-info">
            <!-- <div class="product-category">Smartphone</div> -->
           
            <div class="product-name">{{product.nom}}</div>
            <div class="product-price">{{product.prix}} €</div>
            <div class="product-stock">En stock</div>
            <div class="product-actions">
              <!--
                <button class="btn btn-details">Détails</button>
              -->
            
              <button class="btn btn-cart" (click)="ajouterAuPanier(product)">Ajouter</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </body>